/* jamesevans_style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* header styles */
h1 {
    font-size: 32px;
    line-height: 1.2;
}

ol {
    padding-left: 2px;
}

li {
    padding-left: 2px;
}

/*grid layout types*/
.grid-container {
    display: grid;
    gap: 4px;
}

#page_grid {
    grid-template-columns: auto;
}

#title_grid {
    grid-template-columns: 50% 50% ;
    gap: 4px;
}

/*panel styles*/
.panel {
    margin: 0;
}

#idcard {
    background-color: white;
    padding: 20px;
    width: 89mm *2;
    height: 51mm *2;
    margin-bottom: 8px;
}

.container img {
    border: 1px solid black;
    border-radius: 8px;
    object-fit: fill;
    height: 120px;
    width: 120px;
    right: 0;
    float: right;
}

#background_panel_01 {
    background-color: slategray;
    border: 1px solid black;
    padding: 4px;
    right: 0px;
    left: 0px; 
}

#front_panel_01 {
    background-color: white;
    margin-bottom: 8px;
    margin-right: 0px;
    padding: 8px;
    padding-right: 12px;
    right: 0px;
    left: 0px;
}

#front_panel_02 {
    border-top: 1px solid black;
    margin-bottom: 6px;
    margin-right: 8px;
    padding: 16px;
    right: 0px;
    left: 0px;
}

#front_panel_03 {
    border-top: 2px solid black;
    padding: 4px;
    margin-top: 8px;
    right: 0px;
    left: 0px;
}

#background_parent_panel {
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding-left: 4px;
    border-left: 2px solid black;
}

img {
    background-image: url(C:\Users\james\OneDrive\Documents\CVPage\profile_pic.jpg);
}

/* action */

#idcard:active, #idcard:focus {
    scale: 1.6;
    transform-origin: top left;
}
