/* jamesevans_style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* header styles */
h1 {
    color: white;
    font-size: 32px;
    line-height: 1.2;
    text-shadow: 2px 2px black;
}

ol {
    padding-left: 2px;
}

li {
    padding-left: 2px;
}

/*grid layout types*/
.grid-container {
    display: grid;
    gap: 4px;
}

#page_grid {
    grid-template-columns: auto;
}

#title_grid {
    grid-template-columns: 50% 50% ;
    gap: 4px;
}

/*panel styles*/
.panel {
    margin: 0;
}

#idcard {
    background-color: lightslategray;
    border-top-left-radius: 24px;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    border-left: 2px solid black;
    padding: 12px;
    height: 51mm *2;
    margin-bottom: 8px;
}

.container img {
    border: 1px solid black;
    box-shadow: 2px 2px black;
    border-top-left-radius: 12px;
    object-fit: fill;
    height: 140px;
    right: 0;
    float: right;
}

#background_panel_01 {
    background-color: white;
    height: 100%;
    width: 100%;
}

#front_panel_01 {
    background-color: lightslategray;
    border-left: 2px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 8px;
    margin-right: 0px;
    padding: 12px;
    padding-right: 12px;
    right: 0px;
    left: 0px;
}

#front_panel_02 {
    border-top: 1px solid black;
    margin-bottom: 6px;
    margin-right: 8px;
    padding: 16px;
    right: 0px;
    left: 0px;
}

#front_panel_03 {
    border-top: 2px solid black;
    margin-top: 8px;
    right: 0px;
    left: 0px;
}

#background_parent_panel {
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding-left: 4px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 24px;
}


/* action */

#idcard:active, #idcard:focus {
    scale: 1.6;
    transform-origin: top left;
}
